html{
    height: 100%;
    
}

body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    align-content: center;
}

.image {
    border-radius: 10px;
}

.container {
    max-width: 900px;
    margin: auto;
    
}
